<!DOCTYPE html>
<html lang="pt-br">

    <%- include("include/head", {title:"Livraria"}) -%> 

<body>
    
    <%- include("include/header") -%>

    <h1>Home - Livraria</h1>

    <%- include("include/scripts.ejs") %> 
</body>
</html>